{% extends 'keepup/layout.html' %}


{% block content %}
    <div class="profile-card-container">
        <div class="profile-card">
            <h1>Let's get in touch</h1>
            <hr> <br>
            <h4><i class="far fa-envelope"></i> Email: <a href="mailto:doc.simi4@gmail.com">doc.simi4@gmail.com</a></h4>
            <h4><i class="fab fa-whatsapp"></i> Phone/Whatsapp: +2348069118743</h4>
            <!-- Add instagram, facebook and twitter link later -->
            <h4><i class="fab fa-instagram"></i> Instagram: @doc.simi</h4>
            <h4><i class="fab fa-facebook-f"></i> &nbsp;Facebook: Sammy Asaolu</h4>
            <h4><i class="fab fa-twitter"></i> Twitter: @Simi_NG</h4>
        </div>

    </div>
{% endblock %}