{% extends 'keepup/layout2.html' %}


{% block title %}
    Reset Password
{% endblock title %}
    


{% block content %}
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block" id="reset-password-bg">
                            </div>
                            
                            

                                <div class="col-lg-6">
                                    <div class="p-5">
                                    {% if request.user.is_authenticated %}
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Oops!!!</h1>
                                        </div>
                                        <p>
                                            Hey {{ request.user.first_name }}, you are already logged in.
                                        </p>
                                        <p>
                                            If you really forgot your password, kindly log out and click 'Forgot password' on the log in page
                                        </p>
                                        <p>
                                            <a href="{% url 'home' %}">Back home</a>
                                        </p>
                                    {% else %}
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Password reset sent</h1>
                                        </div>
                                        
                                        <p>
                                            We’ve emailed you instructions for setting your password, if an account exists 
                                            with the email you entered. You should receive them shortly.
                                        </p>
                                        <p>
                                            If you don’t receive an email, please make 
                                            sure you’ve entered the address you registered with, and check your spam folder.
                                        </p>
                                    {% endif %}
                                    <div style="height: 200px;"></div>
                                    </div>
                                </div>
                                
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock content %}
    